﻿@model  AgencyProject.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<h2 class="text-info">Add Hotel</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Name" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Description" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back To List</a>
        </div>
    </div>
</form>

