﻿@model  AgencyProject.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />

<h2 class="text-info">Delete Hotel</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="@Model.Id" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Name" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Description" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Delete" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>
