﻿@model  AgencyProject.ViewModels.HotelViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />

<h2 class="text-info">Edit Hotel</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="@Model.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Name" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.Description" class="form-control" />
                </div>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Update" />
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            </div>
        </div>
    </div>
</form>

