﻿@model  IEnumerable<AgencyProject.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

<br /><br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Hotel List</h2>
    </div>
    <div class="col-6 text-right">
         <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> Hotel</a>
    </div>
</div>
<br />
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th class="text-center">
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
         {
        <tr>
            <td class="text-center"> 
                @Html.DisplayFor(m => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(m => item.Description)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></a>
                @*<a class="btn btn-sm btn-success"><i class="fas fa-list-alt"></i></a>*@
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
         }
    </table>
</div>