﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br />
<div class="text-center">
    <a asp-action="Create" class="btn btn-info" onclick="showPopup()"><i class="fas fa-plus"></i> filter</a>
</div>

<div id="tablePopup" class="table-responsive" style="display:none">
    <h2>sss</h2>
</div>

<script>
    function showPopup() {
        $("#tablePopup").dialog({
            height: 400,
            width: 500,
            modal: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    alert("Ok")
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>
